<h2>Create Device</h2>

<hr style="width: 50%;"/>

<form #deviceForm="ngForm" *ngIf="device">

    <div class="form-group row">
        <label class="col-sm-1.5 col-form-label" >Name</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="device.name" required
              name="name"
              #deviceName="ngModel"
              type="text"
              [ngClass]="{'is-invalid': deviceName.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Device name is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1.5 col-form-label" >Color</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="device.color" required
              name="color"
              #deviceColor="ngModel"
              type="string"
              [ngClass]="{'is-invalid': deviceColor.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Device Color is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1.5 col-form-label" >Part Number</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="device.part_number" required
              name="part_number"
              #devicePartNumber="ngModel"
              type="number"
              [ngClass]="{'is-invalid': devicePartNumber.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Device part_number is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1.5 col-form-label" >Category</label>
    
        <div class="col-sm-5">
            <select
              [(ngModel)]="device.id_category" required
              name="id_category"
              #deviceCategory="ngModel"
              [ngClass]="{'is-invalid': deviceCategory.invalid}"
              class="form-control"             
            >
            <option value="">Select</option>
            <option
              *ngFor='let category of category'
              [value]="category.id"
            >
                {{ category.name }}
              </option>
            </select>
            
            <div class="invalid-feedback">
                <span>Device category is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>
    
    <button 
      [disabled]="deviceForm.invalid"
      class="btn btn-primary mr-2"
      style="margin-bottom: 30px;"
      (click)="save()"
    >
      Save
    </button>
    <button
      class="btn btn-secondary"
      style="margin-left: 20px; margin-bottom: 30px;"
      [routerLink]="['/devices']"
    >
      Back
    </button>

</form>