<h2>Create Category</h2>

<hr style="width: 50%;"/>

<form #categoryForm="ngForm" *ngIf="category">

    <div class="form-group row">
        <label class="col-sm-1.5 col-form-label" >Name</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="category.name" required
              name="name"
              #categoryName="ngModel"
              type="text"
              [ngClass]="{'is-invalid': categoryName.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Category name is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>
    
    <button 
      [disabled]="categoryForm.invalid"
      class="btn btn-primary mr-2"
      style="margin-bottom: 30px;"
      (click)="save()"
    >
      Save
    </button>
    <button
      class="btn btn-secondary"
      style="margin-left: 20px; margin-bottom: 30px;"
      [routerLink]="['/category']"
    >
      Back
    </button>

</form>